/* The Modal (background) */


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    margin: 1%;
    padding: 12px;
    background-color: #156;
    color: #BEC;
    border-radius: 24px;
    border: none;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(10, 67, 82);
    font-weight: bold;
    color: #ffffff;
}










/* old stylesheet */


body {
    background-color: #6b6d6d;
}

.toolbox {
    display: block;
    width: 41px;
    height: 100%;
    position: fixed;
    background-color: #afd1d1;
}

.toolbox .group {
    background-color: #c6caca;
    border-bottom: thin solid rgb(46, 45, 45);
}

.toolbox .group .item {
    width: 42px;
    height: 48px;
    padding: 10px;
    cursor: pointer;
}

.toolbox .group .item img {
    width: 24px;
    height: 24px;
}

.toolbox .group .item.active,
.toolbox .group .item:hover {
    background-color: #a9b9b9;
}

.toolbox .group.stroks .item {
    display: inline-flex;
    position: relative;
}

.toolbox .group.stroks .item .stroke {
    display: inline-flex;
    background-color: rgb(179, 153, 153);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.toolbox .group.colors .item .swatch {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 2px black solid;
}

.toolbox.left {
    top: 0px;
    left: 0px;
}

.toolbox.right {
    top: 0px;
    right: 0px;
}


#canvas {
    /* display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: white;
}

.color-box {
    height: 20px;
}

.bottom {
    text-align: center;
    display: block;
    bottom: 0px;
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: #afd1d1;
}

.bottom .group {
    background-color: #c6caca;
    border-bottom: thin solid rgb(46, 45, 45);
}

.bottom .group .item {
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.bottom .group .item.active,
.bottom .group .item:hover {
    background-color: #a9b9b9;
}

.bottom .group.stroks .item {
    display: inline-flex;
    position: relative;
}

.bottom .group.stroks .item .stroke {
    display: inline-flex;
    background-color: rgb(179, 153, 153);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.bottom .group.colors .item .swatch {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 2px black solid;
}
